{% extends "Rimborsi/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Missioni{% endblock %}

{% block h1title %}
    Le mie missioni
{% endblock %}

{% block content %}
    {% spaceless %}
        {% if user.is_authenticated %}
            <h3>Attive:</h3>
            {% if missioni_attive %}

                <div class="container-fluid px-0">
                    {% for m in missioni_attive %}
                        <div class="card mb-3 mx-0" style="background-color: whitesmoke; width: 100%;">
                            <div class="card-body d-flex flex-column flex-md-row flex-wrap align-items-center align-items-md-center justify-content-between">
                                <h5 class="card-title mb-2 mb-md-0">
                                    {{ m.inizio|date:"d/m/Y" }} - {{ m.stato_destinazione }} - {{ m.citta_destinazione }}
                                </h5>
                                <div class="btn-group flex-wrap justify-content-center align-items-center">
                                    <a class="btn btn-primary btn-md mb-md-0 mb-2 mx-1 rounded"
                                       href="{% url 'RimborsiApp:resoconto' id=m.id %}"
                                       role="button">Resoconto</a>
                                    <a class="btn btn-primary btn-md mb-md-0 mb-2 mx-1 rounded"
                                       href="{% url 'RimborsiApp:missione' id=m.id %}"
                                       role="button">Modifica</a>
                                    <a class="btn btn-primary btn-md mb-md-0 mb-2 mx-1 rounded"
                                       href="{% url 'RimborsiApp:clona_missione' id=m.id %}"
                                       role="button">Clona</a>
                                    <a class="btn btn-success btn-md mb-md-0 mb-2 mx-1 rounded"
                                       href="#" data-href="{% url 'RimborsiApp:concludi_missione' id=m.id %}"
                                       data-target="#confirm-concludi"
                                       data-toggle="modal"
                                       role="button">Rimborsata</a>
                                    <a class="btn btn-danger btn-md mb-md-0 mb-2 mx-1 rounded"
                                       href="#" data-href="{% url 'RimborsiApp:cancella_missione' id=m.id %}"
                                       data-target="#confirm-delete"
                                       data-toggle="modal"
                                       role="button">Cancella</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div id="confirm-delete" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Danger!!!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Vuoi davvero cancellare la missione?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger btn-ok">Sì</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="confirm-concludi" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Attenzione!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Sei sicuro di voler spostare la missione nella lista di quelle rimborsate? Una volta
                                    fatto non potrai più modificarla.</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-success btn-ok">Sì</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $('#confirm-delete').on('show.bs.modal', function (e) {
                        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                    });
                    $('#confirm-concludi').on('show.bs.modal', function (e) {
                        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                    });
                </script>
            {% else %}
                <p>Non ci sono missioni attive</p>
            {% endif %}

            <h3>Concluse:</h3>
            {% if missioni_concluse %}
                <div class="container-fluid px-0">
                    <tbody>
                    {% for m in missioni_concluse %}

                        <div class="card mb-3 mx-0" style="background-color: whitesmoke; width: 100%;">
                            <div class="card-body d-flex flex-column flex-md-row flex-wrap align-items-center align-items-md-center justify-content-between">
                                <h5 class="card-title mb-2 mb-md-0">
                                    {{ m.inizio|date:"d/m/Y" }} - {{ m.stato_destinazione }}
                                    - {{ m.citta_destinazione }}
                                </h5>
                                <div class="btn-group flex-wrap justify-content-center align-items-center">
                                    <a class="btn btn-primary btn-md mb-md-0 mb-2 mx-1 rounded"
                                       href="{% url 'RimborsiApp:resoconto' id=m.id %}"
                                       role="button">Resoconto</a>

                                    <a class="btn btn-primary btn-md mb-md-0 mb-2 mx-1 rounded"
                                       href="{% url 'RimborsiApp:clona_missione' id=m.id %}"
                                       role="button">Clona</a>

                                    <a class="btn btn-danger btn-md mb-md-0 mb-2 mx-1 rounded"
                                       href="#"
                                       data-href="{% url 'RimborsiApp:cancella_missione' id=m.id %}"
                                       data-target="#confirm-delete"
                                       data-toggle="modal"
                                       role="button">Cancella</a>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    </tbody>
                </div>

                <div id="confirm-delete" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Danger!!!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Vuoi davvero cancellare la missione?</p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger btn-ok">Sì</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $('#confirm-delete').on('show.bs.modal', function (e) {
                        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                    });
                </script>
            {% else %}
                <p>Non ci sono missioni concluse.</p>
            {% endif %}
        {% endif %}

    {% endspaceless %}
{% endblock %}
